.home {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
  }
 
  
  .home .headerContainer img {
    width: 50px;
    text-align: center;
  }
  
  .home .headerContainer .container-1{
    display: flex;
  }
  .container-1 div{
    border: 1px black solid;
    padding: 8px;
    background-color: grey;
    width: 80%;
    text-align: center;
  }
  .box-1{
    flex: 1;
  }
  .box-2{
    flex: 1;
  }
  .headerContainer {
    width: auto;
    margin-left: 50px;
    text-align: center;
  }

  .home .headerContainer h2 {
    font-size: 50px;
    font-weight: bold;
    color:blue;
    text-align: center;
  }
  .home .headerContainer h3 {
    font-size: 30px;
    font-weight: bold;
    color:blue;
    text-align: center;
  }
  .home .headerContainer h2 span {
    color: orange;
  }
  .home .headerContainer p {
    color: orangered;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    text-align: center;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: orangered;
    text-align: center;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: orange;
    text-align: center;
  }
  
  .headerContainer button {
    color: orange;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 40px;
    width: 150px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
  }
  
  .headerContainer button:hover {
    background-color: blue;
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    .headerContainer h1,
    
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 9px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: grey;
      color: blue;
      text-align: center;
      height:95%
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: blue;
      text-align: center;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainer button {
      background-color: #121619;
      color:white ;
      margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
      background-color:rgb(225, 225, 225);
      
     
      color:  #121619;
    }
  }